package partials

templ CategoriesView() {
	<div class="mt-6 flex w-full flex-col items-center justify-center">
		<button
			onclick="baseModal.showModal()"
			hx-get="/partials/categories/new"
			hx-trigger="click"
			hx-target="#modal-container"
			class="btn btn-primary"
		>
			Add Category
		</button>
	</div>
	<div id="categories-table" hx-get="/api/categories" hx-trigger="load, reloadCategories from:body"></div>
}
