package partials

import (
	"split/views/components"
)

templ Index() {
	<div class="mt-6 w-full flex justify-center items-center flex-col">
		@components.Button("indigo", templ.Attributes{"hx-get": "/partials/expenses/new", "hx-trigger": "click", "hx-target": "#modal-container"}) {
			Add Expense
		}
	</div>
	<div id="expenses-table" hx-get="/api/expenses" hx-trigger="load, reloadExpenses from:body"></div>
}
