package components

templ Header() {
	<head>
		<script src="https://unpkg.com/htmx.org@2.0.2"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Split</title>
		<style>
		[x-cloak] { display: none !important; }
		</style>
	</head>
}
