package views

import (
	"split/views/components"
)

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		@components.Header()
		<body class="flex h-screen">
			<main class="min-h-screen w-full">
				@components.Nav()
				<main id="main-content">
					{ children... }
				</main>
			</main>
			<div id="modal-container"></div>
		</body>
		@components.Footer()
		<style>
			#modal-container {
				transition: all ease-in 1s ;
			}
		</style>
	</html>
}
