package views

import (
	"split/views/components"
)

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		@components.Header()
		<body class="root">
			<div class="flex h-screen">
				<main class="min-h-screen w-full">
					@components.Nav()
					<main id="main-content" class="container mx-auto px-4">
						{ children... }
					</main>
				</main>
				@components.Modal()
			</div>
		</body>
	</html>
}
