package views

import (
	"split/views/components"
)

templ Index() {
	@Base() {
		<div class="mt-6 w-full flex justify-center items-center flex-col">
			@components.Modal(components.ExpenseForm(), "Add Expense")
		</div>
		<div id="expenses-table" hx-get="/expenses" hx-trigger="load, newExpense from:body"></div>
	}
}
